@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: unset !important;
}

/* About Us (Client Logos) */
.our-client-logos .swiper-wrapper{
  transition-timing-function: linear !important;
}

/* Footer Start */
footer .footer-links span{
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
footer .footer-links a{
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  transition: all 0.1s ease;
}
footer .footer-links a:hover{
  color: #e9202a;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
  footer .footer-links span{
    font-size: 1.3rem;
    margin-bottom: 0.9rem;
  }
  footer .footer-links a{
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  footer .footer-links span{
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  footer .footer-links a{
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }
}

@media screen and (max-width: 640px) {
  footer .footer-links span{
    margin-bottom: 0.7rem;
  }
  footer .footer-links a{
    font-size: 1rem;
  }
}
/* Footer End */

/* Contact Form Start */
.contact-form label{
  display: block;
  color: #eee;
  font-size: 1.2rem;
}
.contact-form input,
.contact-form textarea{
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.7rem 0;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #eee;
  resize: none;
}
.contact-form input:focus,
.contact-form textarea:focus{
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .contact-form label{
    font-size: 1.1rem;
  }
  .contact-form input,
  .contact-form textarea{
    font-size: 1rem;
    padding: 0.6rem 0;
    margin-top: 0.4rem;
    margin-bottom: 1.4rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .contact-form label{
    font-size: 1rem;
  }
  .contact-form input,
  .contact-form textarea{
    font-size: 0.9rem;
    padding: 0.5rem 0;
    margin-top: 0.3rem;
    margin-bottom: 1.3rem;
  }
}

@media screen and (max-width: 640px) {
  .contact-form label{
    font-size: 1.1rem;
  }
  .contact-form input,
  .contact-form textarea{
    font-size: 1rem;
    padding: 0.5rem 0;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  }
}
/* Contact Form End */

/* Investor Corner Accordion Start */
.investor-accordion .accordion-button{
  background: #0a2946 !important;
  color: #fff !important;
  padding: 1.5rem 1.5rem !important;
  box-shadow: none !important;
  font-weight: 600;
  border-radius: 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.investor-accordion .accordion-button:not(.collapsed){
  background: #e9202a !important;
}
.investor-accordion .accordion-button::after{
  display: none;
}
.investor-accordion .accordion-button::before{
  content: "\002B";
  font-size: 1.5rem;
  font-weight: 500;
  order: 2;
}
.investor-accordion .accordion-button:not(.collapsed)::before{
  content: "\2013";
}
.investor-accordion .no-accordion .accordion-button::before{
  display:none;
}
.investor-accordion .no-accordion .accordion-button{
  padding: 1.65rem 1.5rem !important;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .investor-accordion .accordion-button{
    padding: 1.4rem 1.4rem !important;
    border-radius: 18px !important;
  }
  .investor-accordion .accordion-button::before{
    font-size: 1.4rem;
  }
  .investor-accordion .no-accordion .accordion-button{
    padding: 1.55rem 1.4rem !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .investor-accordion .accordion-button{
    padding: 1.2rem 1.3rem !important;
    border-radius: 16px !important;
  }
  .investor-accordion .accordion-button::before{
    font-size: 1.3rem;
  }
  .investor-accordion .no-accordion .accordion-button{
    padding: 1.45rem 1.3rem !important;
  }
}

@media screen and (max-width: 640px) {
  .investor-accordion .accordion-button{
    padding: 0.8rem 1rem !important;
    border-radius: 15px !important;
  }
  .investor-accordion .accordion-button::before{
    font-size: 1.5rem;
  }
  .investor-accordion .no-accordion .accordion-button{
    padding: 1rem 1rem !important;
  }
}
/* Investor Corner Accordion End */